body {
  color: #747704;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

hr {
  color: #BCBBBB;
  background-color: #BCBBBB;
  border: 0;
  height: 0.2em;
  margin-top: 0.5em;
}

.title-super {
  font-size: 3.5em;
}

.title-logo {
  height: 100%;
  margin-bottom: 0;
  margin-top: 1.5em;
  width: 5em;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}
